@font-face {
    font-family: 'callista';
    src: url('../fonts/Callista\ Italic.ttf') format('truetype');
}

body{
    padding: 0;
    margin: 0;
}

#titulo {
    font-family: 'callista';
    font-size: 45px;
}

#img-error {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
}

#rrss {
    width: 30px;
    height: 30px;
    margin: 5px;
}

